.mainBody{
    background-color: beige;
}


.navbar {
margin-bottom: 50px;
border-radius: 0;
}


.jumbotron {
margin-bottom: 5px;
}
.jumbotron .h1, .jumbotron h1{
    font-size:20px;
}

footer {
background-color: #f2f2f2;
padding: 25px;
}
.star{
	width:25px;
	height:25px;
	background-image: url('assets/rating.png');
	background-size: 75px 25px;
	display:block;
  }
  .half-star{
	background-position:50px 26px;
  }
  .empty-star{
	background-position:27px 26px;
  }
  .star-rating {
    line-height:32px;
    font-size:1.25em;
  }
  
  .star-rating .fa-star{color: yellow;}