.mainBody{
    background-color:darkgray;
    text-decoration-color: blue;
}
.header{
    background-color:gray;
    text-decoration-color: blue;
}
.navDec{
    outline: rgb(114, 101, 101) solid 0.5px;
    text-align: center;
   /*  border: 0.5px solid rgb(66, 58, 58);
    outline: rgb(114, 101, 101) solid 10px;
    margin: auto;    
    padding: 0.5px;
    text-align: center; */
}
.mainData{
    background-color:slategrey;
}